<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="float-sm-right"><a href="#" class="lentren">Back to top</a></p>
        <p>jghajghdjshgdjshgjdshgjhdsghdshgj</p>
        <p>Ndsangjkdjk<b>gdjshgdjkhgjd</b>hjghdhgdhgjdgjdhgjdhgj</p>
      </div>
    </div>
  </div>
</div>
